In [1]:
import pandas as pd
import numpy as np
import nltk
import pickle

In [2]:
movies = pd.read_csv('../datasets/tmdb_5000_movies.csv')

df = pd.read_csv('../datasets/tmdb_5000_credits.csv')
df.columns = ['id', 'tittle', 'cast', 'crew']
movies = movies.merge(df, on='id')

In [3]:
movies.info(8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  tittle                4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 863.2+ KB

#### Content based recommendation engine - TF-IDF Vectorizer

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
# removing english stop word like a, and , the 
tfidf = TfidfVectorizer(analyzer = 'word',stop_words = 'english')
#NaN -> ‘’
movies['overview'] = movies['overview'].fillna('')
tfidf_matrix = tfidf.fit_transform(movies['overview'])
tfidf_matrix.shape

(4803, 20978)

#### Calculation of similarity score by using COSINE SIMILARITY algorithm
The shape of the TF-IDF matrix is (4803, 20978). which means that here are 20978 different words are used to describe a 4803 movies.

Now, we will find similarity score of this matrix.

As we have a TF_IDF vectorizer, calculating directly a dot product will give us a cosine similarity. here we are using cosine similarity score since it is relatively easy and fast to calculate.

In [5]:
from sklearn.metrics.pairwise import linear_kernel
cosin_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

Next,we perform reverse map for the indices of the movies and titles.

In [6]:
index_of_movies = pd.Series(movies.index,   index=movies['title']).drop_duplicates()

Now, let’s write function for recommendation.

Step 1: Fetch the title
Step 2: Compute the similarity score for the movie from cosin_sim matrix
Step 3: Sort the similarity score
Step 4: OUTPUT- Return top movie base on the input

In [7]:
def get_recommendations(title, cosin_sim=cosin_sim):
    idx = index_of_movies[title]
    
    sim_scores = list(enumerate(cosin_sim[idx]))
    # sorting of moviesidx based on similarity score
    sim_scores = sorted(sim_scores, key = lambda x:x[1], reverse = True)
    # get top 10 of sorted 
    sim_scores = sim_scores[1:31]
    
    movies_idx = [i[0] for i in sim_scores]
    
    return movies['title'].iloc[movies_idx]

In [8]:
get_recommendations('Blood Ties').head(10)

3727          Easy Money
3623                Made
3337       The Godfather
3020          Sugar Hill
2389         Renaissance
3142      American Heist
3284      Brooklyn Rules
2801         The Funeral
1916    Lords of Dogtown
3760      The Jerky Boys
Name: title, dtype: object

#### Improvement of recommender with the help of other metadatas

First, we get the cast, crew, keywords and genres column data. then we will put some preprocessing on that data to get the most useful information for example we will get Director from the ‘crew’ column.

We will create a soup of these information. and apply the CountVectorizer.

One important difference is that we use the CountVectorizer() instead of TF-IDF. This is because we do not want to down-weight the presence of an actor/director if he or she has acted or directed in relatively more movies. It doesn’t make much intuitive sense.

Next step is to compute a Cosine Similarity matrix based on the Count matrix.

In [9]:
from ast import literal_eval
features = ['cast', 'crew', 'keywords', 'genres']
for f in features:
    movies[f] = movies[f].apply(literal_eval)
# to get director from job
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan
# get top 3 elements of list
def get_list(x):
    if isinstance(x, list):
        names = [ i['name'] for i in x]
        
        if len(names)  > 3:
            names = names[:3]
        return names
    return []
#apply all functions
movies['director'] = movies['crew'].apply(get_director)
features = ['cast', 'keywords', 'genres']
for f in features:
    movies[f] = movies[f].apply(get_list)
#striping
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(' ', '')) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(' ', ''))
        else:
            return ''
features = ['cast', 'keywords', 'director', 'genres']
for f in features:
    movies[f] = movies[f].apply(clean_data)
#creating a SOUP
def create_soup(x):
    return ' '.join(x['keywords'])+' '+' '.join(x['cast'])+' '+x['director']+' '+' '.join(x['genres'])
movies['soup'] = movies.apply(create_soup, axis=1)
#count Vectorizer
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words = 'english')
count_matrix = count.fit_transform(movies['soup'])
# finding similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
cosin_sim2 = cosine_similarity(count_matrix, count_matrix)

In [10]:
get_recommendations('Blood Ties', cosin_sim2)

975                  The International
918                         Inside Man
3789                             Trust
2915                             Trash
4638          Amidst the Devil's Wings
2502                              Zulu
2649                 The Son of No One
3322    Betty Fisher and Other Stories
4488                        Adulterers
4630                        Compliance
4780                       Dutch Kills
3637                Kill the Messenger
3727                        Easy Money
4205                          N-Secure
4449                London to Brighton
4531                       Civil Brand
1948                 Little White Lies
2030                          Derailed
2793              The Killer Inside Me
4589                            Fabled
283         The Taking of Pelham 1 2 3
351                       The Departed
444                  Road to Perdition
510                    Children of Men
714                         Collateral
717                       Jack Reacher
826                         Disclosure
867            The Godfather: Part III
879                Law Abiding Citizen
958                        Out of Time
Name: title, dtype: object

### COLLABORATIVE FILTERING - Python's Surprise library

In [11]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader()
ratings = pd.read_csv('../datasets/ratings_small.csv')

In [12]:
ratings.head(6)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151

#### Cross validation of our data

In [13]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader(rating_scale=(0,5))

In [14]:
data = Dataset.load_from_df(ratings[['userId', 'movieId','rating']], reader)
svd = SVD()

In [15]:
# Run 5 fold cross validation
cross_validate(svd, data,measures=['RMSE'], cv=5,verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9012  0.8925  0.9022  0.8933  0.8954  0.8969  0.0040
Fit time          0.65    0.65    0.68    0.70    0.64    0.67    0.02
Test time         0.14    0.06    0.06    0.07    0.13    0.09    0.03

{'test_rmse': array([0.90121636, 0.89254361, 0.90222344, 0.89326496, 0.89539238]),
 'fit_time': (0.6509079933166504,
  0.6505331993103027,
  0.6848042011260986,
  0.7018105983734131,
  0.6440434455871582),
 'test_time': (0.13632512092590332,
  0.0640103816986084,
  0.06399869918823242,
  0.07197761535644531,
  0.13122177124023438)}

We got a Root Mean Square Error of 0.89 approx which is more than good enough for our case. 
Let us now train on our dataset and arrive at predictions.

In [16]:
train = data.build_full_trainset()
svd.fit(train)

Let’s predict the user 1’s rating on the movie Id=302

In [17]:
svd.predict(1, 302)

Prediction(uid=1, iid=302, r_ui=None, est=2.7505568985162703, details={'was_impossible': False})

Here , est=2.6280 means that user 1 might  give rating of 2.63 to movie which has Id 302.

That is how we can predict the movie rating based on the users profile and recommend the best movie to them without knowing the past behaviour of the User. 

This is called a  collaborative filtering.

#### HYBRID RECOMMENDER

A hybrid model for recommendation of movies to users with the best possible efficiency and precision can be designed as mentioned below:


Let's put our content based and CF based together and make a strong recommender.

In [18]:
movie_id = pd.read_csv('../datasets/links_small.csv')

movie_id.dropna()

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9112 rows x 3 columns]

In [19]:
movie_id.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [20]:


new_movies = movies.filter(['id', 'title','tagline'])

In [21]:
new_movies.head(5)

,id,title,tagline
0,19995,Avatar,Enter the World of Pandora.
1,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins."
2,206647,Spectre,A Plan No One Escapes
3,49026,The Dark Knight Rises,The Legend Ends
4,49529,John Carter,"Lost in our world, found in another."

In [22]:
movie_id.head(5)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [23]:
# convert float val to int
def conv_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [24]:

movieid = pd.read_csv('../datasets/links_small.csv')[['movieId', 'tmdbId']]
movieid['tmdbId'] = movie_id['tmdbId'].apply(conv_int)
movieid.columns = ['movieId', 'id']
movieid = movieid.merge(new_movies[['title', 'id']], on='id').set_index('title')
print(movieid.shape)
movieid

(3404, 2)

                          movieId        id
title
Toy Story                       1     862.0
GoldenEye                      10     710.0
The American President         11    9087.0
Nixon                          14   10858.0
Cutthroat Island               15    1408.0
...                           ...       ...
The Maid's Room            160440  278348.0
The Legend of Tarzan       160563  258489.0
The Purge: Election Year   160565  316727.0
Nerve                      160954  328387.0
Shin Godzilla              163056  315011.0

[3404 rows x 2 columns]

Next, we make a index_map to find a index of a movie.

In [26]:
index_map = movieid.set_index('id')

#### Count Vectorization

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words='english')
count_matrix = cv.fit_transform(movies['soup']).toarray()

In [28]:
count_matrix

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(count_matrix)

In [30]:
similarity

array([[1.        , 0.3       , 0.21081851, ..., 0.        , 0.        ,
        0.        ],
       [0.3       , 1.        , 0.21081851, ..., 0.        , 0.        ,
        0.        ],
       [0.21081851, 0.21081851, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [31]:
len(similarity[0])

4803

In [32]:
sorted(list(enumerate(similarity[0])), reverse=True, key = lambda x:x[1])

[(0, 0.9999999999999999),
 (786, 0.4743416490252569),
 (1438, 0.4242640687119285),
 (206, 0.4),
 (3993, 0.3651483716701108),
 (71, 0.3585685828003181),
 (131, 0.3585685828003181),
 (2655, 0.3585685828003181),
 (81, 0.33541019662496846),
 (160, 0.33541019662496846),
 (208, 0.33541019662496846),
 (215, 0.33541019662496846),
 (241, 0.33541019662496846),
 (292, 0.33541019662496846),
 (315, 0.33541019662496846),
 (466, 0.33541019662496846),
 (618, 0.33541019662496846),
 (1686, 0.33541019662496846),
 (1892, 0.33541019662496846),
 (1939, 0.33541019662496846),
 (2343, 0.33541019662496846),
 (2390, 0.33541019662496846),
 (2444, 0.33541019662496846),
 (3494, 0.33541019662496846),
 (9, 0.31622776601683794),
 (10, 0.31622776601683794),
 (20, 0.31622776601683794),
 (50, 0.31622776601683794),
 (103, 0.31622776601683794),
 (121, 0.31622776601683794),
 (129, 0.31622776601683794),
 (332, 0.31622776601683794),
 (403, 0.31622776601683794),
 (472, 0.31622776601683794),
 (486, 0.31622776601683794),
 (587, 0.31622776601683794),
 (627, 0.31622776601683794),
 (715, 0.31622776601683794),
 (746, 0.31622776601683794),
 (784, 0.31622776601683794),
 (836, 0.31622776601683794),
 (1192, 0.31622776601683794),
 (1390, 0.31622776601683794),
 (1932, 0.31622776601683794),
 (2490, 0.31622776601683794),
 (2785, 0.31622776601683794),
 (2827, 0.31622776601683794),
 (4004, 0.31622776601683794),
 (4117, 0.31622776601683794),
 (4143, 0.31622776601683794),
 (4316, 0.31622776601683794),
 (4654, 0.31622776601683794),
 (1, 0.30000000000000004),
 (5, 0.30000000000000004),
 (12, 0.30000000000000004),
 (14, 0.30000000000000004),
 (17, 0.30000000000000004),
 (19, 0.30000000000000004),
 (38, 0.30000000000000004),
 (46, 0.30000000000000004),
 (47, 0.30000000000000004),
 (94, 0.30000000000000004),
 (98, 0.30000000000000004),
 (107, 0.30000000000000004),
 (126, 0.30000000000000004),
 (199, 0.30000000000000004),
 (262, 0.30000000000000004),
 (322, 0.30000000000000004),
 (369, 0.30000000000000004),
 (379, 0.30000000000000004),
 (813, 0.30000000000000004),
 (870, 0.30000000000000004),
 (1139, 0.30000000000000004),
 (1230, 0.30000000000000004),
 (1266, 0.30000000000000004),
 (1322, 0.30000000000000004),
 (1652, 0.30000000000000004),
 (2163, 0.30000000000000004),
 (2403, 0.30000000000000004),
 (187, 0.3),
 (1721, 0.3),
 (30, 0.2860387767736777),
 (85, 0.2860387767736777),
 (127, 0.2860387767736777),
 (503, 0.2860387767736777),
 (83, 0.282842712474619),
 (97, 0.282842712474619),
 (518, 0.282842712474619),
 (1324, 0.282842712474619),
 (1764, 0.282842712474619),
 (2474, 0.282842712474619),
 (2708, 0.282842712474619),
 (3318, 0.282842712474619),
 (3617, 0.282842712474619),
 (3777, 0.282842712474619),
 (4042, 0.282842712474619),
 (329, 0.27386127875258315),
 (330, 0.27386127875258315),
 (547, 0.27386127875258315),
 (48, 0.25819888974716115),
 (1074, 0.25819888974716115),
 (1213, 0.25819888974716115),
 (1277, 0.25819888974716115),
 (1306, 0.25819888974716115),
 (1628, 0.25819888974716115),
 (1878, 0.25819888974716115),
 (2057, 0.25819888974716115),
 (2114, 0.25819888974716115),
 (2209, 0.25819888974716115),
 (2346, 0.25819888974716115),
 (2357, 0.25819888974716115),
 (2372, 0.25819888974716115),
 (2806, 0.25819888974716115),
 (3224, 0.25819888974716115),
 (3854, 0.25819888974716115),
 (3856, 0.25819888974716115),
 (3901, 0.25819888974716115),
 (4093, 0.25819888974716115),
 (4155, 0.25819888974716115),
 (4315, 0.25819888974716115),
 (4344, 0.25819888974716115),
 (4465, 0.25819888974716115),
 (4620, 0.25819888974716115),
 (23, 0.23904572186687872),
 (75, 0.23904572186687872),
 (138, 0.23904572186687872),
 (148, 0.23904572186687872),
 (167, 0.23904572186687872),
 (205, 0.23904572186687872),
 (235, 0.23904572186687872),
 (312, 0.23904572186687872),
 (381, 0.23904572186687872),
 (411, 0.23904572186687872),
 (600, 0.23904572186687872),
 (604, 0.23904572186687872),
 (610, 0.23904572186687872),
 (668, 0.23904572186687872),
 (678, 0.23904572186687872),
 (773, 0.23904572186687872),
 (812, 0.23904572186687872),
 (1000, 0.23904572186687872),
 (1093, 0.23904572186687872),
 (1273, 0.23904572186687872),
 (1289, 0.23904572186687872),
 (1298, 0.23904572186687872),
 (1341, 0.23904572186687872),
 (1361, 0.23904572186687872),
 (1447, 0.23904572186687872),
 (1645, 0.23904572186687872),
 (1669, 0.23904572186687872),
 (1680, 0.23904572186687872),
 (1743, 0.23904572186687872),
 (1825, 0.23904572186687872),
 (1977, 0.23904572186687872),
 (2122, 0.23904572186687872),
 (2161, 0.23904572186687872),
 (2207, 0.23904572186687872),
 (2244, 0.23904572186687872),
 (2294, 0.23904572186687872),
 (2506, 0.23904572186687872),
 (2556, 0.23904572186687872),
 (2592, 0.23904572186687872),
 (3001, 0.23904572186687872),
 (3087, 0.23904572186687872),
 (3098, 0.23904572186687872),
 (3231, 0.23904572186687872),
 (3251, 0.23904572186687872),
 (3373, 0.23904572186687872),
 (3385, 0.23904572186687872),
 (3424, 0.23904572186687872),
 (3715, 0.23904572186687872),
 (3775, 0.23904572186687872),
 (3826, 0.23904572186687872),
 (4353, 0.23904572186687872),
 (4499, 0.23904572186687872),
 (4565, 0.23904572186687872),
 (21, 0.22360679774997896),
 (62, 0.22360679774997896),
 (84, 0.22360679774997896),
 (132, 0.22360679774997896),
 (164, 0.22360679774997896),
 (193, 0.22360679774997896),
 (195, 0.22360679774997896),
 (216, 0.22360679774997896),
 (229, 0.22360679774997896),
 (294, 0.22360679774997896),
 (331, 0.22360679774997896),
 (340, 0.22360679774997896),
 (368, 0.22360679774997896),
 (412, 0.22360679774997896),
 (457, 0.22360679774997896),
 (495, 0.22360679774997896),
 (535, 0.22360679774997896),
 (602, 0.22360679774997896),
 (687, 0.22360679774997896),
 (800, 0.22360679774997896),
 (859, 0.22360679774997896),
 (920, 0.22360679774997896),
 (942, 0.22360679774997896),
 (1082, 0.22360679774997896),
 (1084, 0.22360679774997896),
 (1144, 0.22360679774997896),
 (1146, 0.22360679774997896),
 (1191, 0.22360679774997896),
 (1199, 0.22360679774997896),
 (1256, 0.22360679774997896),
 (1290, 0.22360679774997896),
 (1296, 0.22360679774997896),
 (1303, 0.22360679774997896),
 (1453, 0.22360679774997896),
 (1507, 0.22360679774997896),
 (1615, 0.22360679774997896),
 (1667, 0.22360679774997896),
 (1670, 0.22360679774997896),
 (1697, 0.22360679774997896),
 (1804, 0.22360679774997896),
 (1872, 0.22360679774997896),
 (1918, 0.22360679774997896),
 (1984, 0.22360679774997896),
 (1987, 0.22360679774997896),
 (1999, 0.22360679774997896),
 (2046, 0.22360679774997896),
 (2069, 0.22360679774997896),
 (2085, 0.22360679774997896),
 (2103, 0.22360679774997896),
 (2169, 0.22360679774997896),
 (2205, 0.22360679774997896),
 (2247, 0.22360679774997896),
 (2352, 0.22360679774997896),
 (2492, 0.22360679774997896),
 (2578, 0.22360679774997896),
 (2683, 0.22360679774997896),
 (2835, 0.22360679774997896),
 (3051, 0.22360679774997896),
 (3148, 0.22360679774997896),
 (3162, 0.22360679774997896),
 (3184, 0.22360679774997896),
 (3208, 0.22360679774997896),
 (3370, 0.22360679774997896),
 (3402, 0.22360679774997896),
 (3607, 0.22360679774997896),
 (3724, 0.22360679774997896),
 (3733, 0.22360679774997896),
 (3884, 0.22360679774997896),
 (3943, 0.22360679774997896),
 (3986, 0.22360679774997896),
 (4049, 0.22360679774997896),
 (4071, 0.22360679774997896),
 (4077, 0.22360679774997896),
 (4114, 0.22360679774997896),
 (4146, 0.22360679774997896),
 (4175, 0.22360679774997896),
 (4312, 0.22360679774997896),
 (4339, 0.22360679774997896),
 (4489, 0.22360679774997896),
 (4599, 0.22360679774997896),
 (4708, 0.22360679774997896),
 (4769, 0.22360679774997896),
 (2, 0.21081851067789195),
 (4, 0.21081851067789195),
 (22, 0.21081851067789195),
 (27, 0.21081851067789195),
 (31, 0.21081851067789195),
 (35, 0.21081851067789195),
 (53, 0.21081851067789195),
 (56, 0.21081851067789195),
 (59, 0.21081851067789195),
 (72, 0.21081851067789195),
 (80, 0.21081851067789195),
 (86, 0.21081851067789195),
 (91, 0.21081851067789195),
 (101, 0.21081851067789195),
 (106, 0.21081851067789195),
 (109, 0.21081851067789195),
 (143, 0.21081851067789195),
 (147, 0.21081851067789195),
 (159, 0.21081851067789195),
 (166, 0.21081851067789195),
 (172, 0.21081851067789195),
 (175, 0.21081851067789195),
 (186, 0.21081851067789195),
 (207, 0.21081851067789195),
 (224, 0.21081851067789195),
 (240, 0.21081851067789195),
 (243, 0.21081851067789195),
 (282, 0.21081851067789195),
 (299, 0.21081851067789195),
 (304, 0.21081851067789195),
 (307, 0.21081851067789195),
 (350, 0.21081851067789195),
 (383, 0.21081851067789195),
 (389, 0.21081851067789195),
 (420, 0.21081851067789195),
 (428, 0.21081851067789195),
 (467, 0.21081851067789195),
 (475, 0.21081851067789195),
 (478, 0.21081851067789195),
 (488, 0.21081851067789195),
 (501, 0.21081851067789195),
 (505, 0.21081851067789195),
 (513, 0.21081851067789195),
 (537, 0.21081851067789195),
 (540, 0.21081851067789195),
 (543, 0.21081851067789195),
 (544, 0.21081851067789195),
 (577, 0.21081851067789195),
 (595, 0.21081851067789195),
 (597, 0.21081851067789195),
 (644, 0.21081851067789195),
 (661, 0.21081851067789195),
 (664, 0.21081851067789195),
 (691, 0.21081851067789195),
 (711, 0.21081851067789195),
 (781, 0.21081851067789195),
 (788, 0.21081851067789195),
 (791, 0.21081851067789195),
 (794, 0.21081851067789195),
 (805, 0.21081851067789195),
 (833, 0.21081851067789195),
 (894, 0.21081851067789195),
 (922, 0.21081851067789195),
 (931, 0.21081851067789195),
 (933, 0.21081851067789195),
 (972, 0.21081851067789195),
 (989, 0.21081851067789195),
 (1001, 0.21081851067789195),
 (1006, 0.21081851067789195),
 (1027, 0.21081851067789195),
 (1044, 0.21081851067789195),
 (1077, 0.21081851067789195),
 (1079, 0.21081851067789195),
 (1083, 0.21081851067789195),
 (1089, 0.21081851067789195),
 (1131, 0.21081851067789195),
 (1175, 0.21081851067789195),
 (1200, 0.21081851067789195),
 (1234, 0.21081851067789195),
 (1279, 0.21081851067789195),
 (1359, 0.21081851067789195),
 (1402, 0.21081851067789195),
 (1440, 0.21081851067789195),
 (1448, 0.21081851067789195),
 (1490, 0.21081851067789195),
 (1577, 0.21081851067789195),
 (1610, 0.21081851067789195),
 (1611, 0.21081851067789195),
 (1658, 0.21081851067789195),
 (1707, 0.21081851067789195),
 (1713, 0.21081851067789195),
 (1777, 0.21081851067789195),
 (1802, 0.21081851067789195),
 (1821, 0.21081851067789195),
 (1827, 0.21081851067789195),
 (1953, 0.21081851067789195),
 (1973, 0.21081851067789195),
 (2127, 0.21081851067789195),
 (2157, 0.21081851067789195),
 (2317, 0.21081851067789195),
 (2433, 0.21081851067789195),
 (2521, 0.21081851067789195),
 (2644, 0.21081851067789195),
 (2645, 0.21081851067789195),
 (2675, 0.21081851067789195),
 (2678, 0.21081851067789195),
 (2681, 0.21081851067789195),
 (2736, 0.21081851067789195),
 (2757, 0.21081851067789195),
 (2815, 0.21081851067789195),
 (2912, 0.21081851067789195),
 (3013, 0.21081851067789195),
 (3143, 0.21081851067789195),
 (3329, 0.21081851067789195),
 (3336, 0.21081851067789195),
 (3799, 0.21081851067789195),
 (4670, 0.21081851067789195),
 (7, 0.2),
 (8, 0.2),
 (11, 0.2),
 (13, 0.2),
 (15, 0.2),
 (16, 0.2),
 (24, 0.2),
 (26, 0.2),
 (28, 0.2),
 (29, 0.2),
 (32, 0.2),
 (33, 0.2),
 (36, 0.2),
 (37, 0.2),
 (39, 0.2),
 (41, 0.2),
 (43, 0.2),
 (51, 0.2),
 (52, 0.2),
 (61, 0.2),
 (63, 0.2),
 (68, 0.2),
 (70, 0.2),
 (76, 0.2),
 (79, 0.2),
 (92, 0.2),
 (102, 0.2),
 (104, 0.2),
 (111, 0.2),
 (113, 0.2),
 (114, 0.2),
 (115, 0.2),
 (122, 0.2),
 (134, 0.2),
 (139, 0.2),
 (150, 0.2),
 (151, 0.2),
 (152, 0.2),
 (153, 0.2),
 (157, 0.2),
 (158, 0.2),
 (168, 0.2),
 (169, 0.2),
 (170, 0.2),
 (174, 0.2),
 (182, 0.2),
 (183, 0.2),
 (191, 0.2),
 (197, 0.2),
 (198, 0.2),
 (203, 0.2),
 (212, 0.2),
 (213, 0.2),
 (217, 0.2),
 (219, 0.2),
 (228, 0.2),
 (230, 0.2),
 (232, 0.2),
 (233, 0.2),
 (237, 0.2),
 (238, 0.2),
 (245, 0.2),
 (259, 0.2),
 (260, 0.2),
 (263, 0.2),
 (267, 0.2),
 (274, 0.2),
 (276, 0.2),
 (277, 0.2),
 (290, 0.2),
 (291, 0.2),
 (300, 0.2),
 (342, 0.2),
 (356, 0.2),
 (400, 0.2),
 (402, 0.2),
 (410, 0.2),
 (425, 0.2),
 (426, 0.2),
 (469, 0.2),
 (483, 0.2),
 (487, 0.2),
 (507, 0.2),
 (508, 0.2),
 (511, 0.2),
 (523, 0.2),
 (531, 0.2),
 (568, 0.2),
 (572, 0.2),
 (581, 0.2),
 (583, 0.2),
 (591, 0.2),
 (594, 0.2),
 (596, 0.2),
 (612, 0.2),
 (624, 0.2),
 (640, 0.2),
 (645, 0.2),
 (660, 0.2),
 (665, 0.2),
 (683, 0.2),
 (695, 0.2),
 (728, 0.2),
 (731, 0.2),
 (732, 0.2),
 (755, 0.2),
 (777, 0.2),
 (808, 0.2),
 (831, 0.2),
 (834, 0.2),
 (864, 0.2),
 (888, 0.2),
 (898, 0.2),
 (932, 0.2),
 (937, 0.2),
 (950, 0.2),
 (969, 0.2),
 (976, 0.2),
 (984, 0.2),
 (985, 0.2),
 (1058, 0.2),
 (1073, 0.2),
 (1076, 0.2),
 (1078, 0.2),
 (1100, 0.2),
 (1103, 0.2),
 (1106, 0.2),
 (1110, 0.2),
 (1155, 0.2),
 (1201, 0.2),
 (1239, 0.2),
 (1245, 0.2),
 (1282, 0.2),
 (1294, 0.2),
 (1302, 0.2),
 (1320, 0.2),
 (1337, 0.2),
 (1343, 0.2),
 (1380, 0.2),
 (1399, 0.2),
 (1531, 0.2),
 (1542, 0.2),
 (1546, 0.2),
 (1586, 0.2),
 (1750, 0.2),
 (1790, 0.2),
 (1836, 0.2),
 (1854, 0.2),
 (1936, 0.2),
 (1990, 0.2),
 (2066, 0.2),
 (2100, 0.2),
 (2156, 0.2),
 (2175, 0.2),
 (2237, 0.2),
 (2250, 0.2),
 (2327, 0.2),
 (2442, 0.2),
 (2747, 0.2),
 (2812, 0.2),
 (2863, 0.2),
 (2995, 0.2),
 (2996, 0.2),
 (3004, 0.2),
 (3158, 0.2),
 (3305, 0.2),
 (3343, 0.2),
 (3350, 0.2),
 (3351, 0.2),
 (3364, 0.2),
 (3439, 0.2),
 (3522, 0.2),
 (3616, 0.2),
 (3618, 0.2),
 (123, 0.19069251784911848),
 (125, 0.19069251784911848),
 (210, 0.19069251784911848),
 (242, 0.19069251784911848),
 (279, 0.19069251784911848),
 (296, 0.19069251784911848),
 (334, 0.19069251784911848),
 (336, 0.19069251784911848),
 (341, 0.19069251784911848),
 (370, 0.19069251784911848),
 (419, 0.19069251784911848),
 (491, 0.19069251784911848),
 (740, 0.19069251784911848),
 (767, 0.19069251784911848),
 (768, 0.19069251784911848),
 (799, 0.19069251784911848),
 (838, 0.19069251784911848),
 (1012, 0.19069251784911848),
 (1034, 0.19069251784911848),
 (1095, 0.19069251784911848),
 (1136, 0.19069251784911848),
 (1404, 0.19069251784911848),
 (1420, 0.19069251784911848),
 (1439, 0.19069251784911848),
 (1617, 0.19069251784911848),
 (1626, 0.19069251784911848),
 (1851, 0.19069251784911848),
 (2029, 0.19069251784911848),
 (2515, 0.19069251784911848),
 (2573, 0.19069251784911848),
 (3035, 0.19069251784911848),
 (3136, 0.19069251784911848),
 (3466, 0.19069251784911848),
 (4440, 0.19069251784911848),
 (4579, 0.19069251784911848),
 (339, 0.1825741858350554),
 (424, 0.1825741858350554),
 (643, 0.1825741858350554),
 (873, 0.1825741858350554),
 (1024, 0.1825741858350554),
 (1132, 0.1825741858350554),
 (1583, 0.1825741858350554),
 (1672, 0.1825741858350554),
 (1740, 0.1825741858350554),
 (1741, 0.1825741858350554),
 (2348, 0.1825741858350554),
 (3304, 0.1825741858350554),
 (3352, 0.1825741858350554),
 (3361, 0.1825741858350554),
 (3485, 0.1825741858350554),
 (3523, 0.1825741858350554),
 (3714, 0.1825741858350554),
 (4125, 0.1825741858350554),
 (4149, 0.1825741858350554),
 (4161, 0.1825741858350554),
 (4233, 0.1825741858350554),
 (4326, 0.1825741858350554),
 (4401, 0.1825741858350554),
 (4638, 0.1825741858350554),
 (4734, 0.1825741858350554),
 (1907, 0.17541160386140586),
 (1193, 0.16903085094570333),
 (2303, 0.15811388300841897),
 (2309, 0.15811388300841897),
 (2366, 0.15811388300841897),
 (2437, 0.15811388300841897),
 (2777, 0.15811388300841897),
 (3089, 0.15811388300841897),
 (3154, 0.15811388300841897),
 (3280, 0.15811388300841897),
 (3306, 0.15811388300841897),
 (3335, 0.15811388300841897),
 (3405, 0.15811388300841897),
 (3437, 0.15811388300841897),
 (3707, 0.15811388300841897),
 (3782, 0.15811388300841897),
 (3849, 0.15811388300841897),
 (3945, 0.15811388300841897),
 (3972, 0.15811388300841897),
 (3976, 0.15811388300841897),
 (4111, 0.15811388300841897),
 (4135, 0.15811388300841897),
 (4191, 0.15811388300841897),
 (4258, 0.15811388300841897),
 (4262, 0.15811388300841897),
 (4275, 0.15811388300841897),
 (4386, 0.15811388300841897),
 (4546, 0.15811388300841897),
 (4727, 0.15811388300841897),
 (967, 0.1414213562373095),
 (1028, 0.1414213562373095),
 (1288, 0.1414213562373095),
 (1608, 0.1414213562373095),
 (1637, 0.1414213562373095),
 (1856, 0.1414213562373095),
 (1937, 0.1414213562373095),
 (1942, 0.1414213562373095),
 (2394, 0.1414213562373095),
 (2443, 0.1414213562373095),
 (2614, 0.1414213562373095),
 (2646, 0.1414213562373095),
 (2657, 0.1414213562373095),
 (2696, 0.1414213562373095),
 (2805, 0.1414213562373095),
 (2867, 0.1414213562373095),
 (2986, 0.1414213562373095),
 (3020, 0.1414213562373095),
 (3021, 0.1414213562373095),
 (3043, 0.1414213562373095),
 (3105, 0.1414213562373095),
 (3128, 0.1414213562373095),
 (3249, 0.1414213562373095),
 (3299, 0.1414213562373095),
 (3326, 0.1414213562373095),
 (3474, 0.1414213562373095),
 (3509, 0.1414213562373095),
 (3553, 0.1414213562373095),
 (3613, 0.1414213562373095),
 (3804, 0.1414213562373095),
 (3836, 0.1414213562373095),
 (3920, 0.1414213562373095),
 (3929, 0.1414213562373095),
 (4182, 0.1414213562373095),
 (4251, 0.1414213562373095),
 (4349, 0.1414213562373095),
 (4351, 0.1414213562373095),
 (4539, 0.1414213562373095),
 (4557, 0.1414213562373095),
 (4669, 0.1414213562373095),
 (171, 0.12909944487358058),
 (344, 0.12909944487358058),
 (629, 0.12909944487358058),
 (981, 0.12909944487358058),
 (1104, 0.12909944487358058),
 (1246, 0.12909944487358058),
 (1267, 0.12909944487358058),
 (1269, 0.12909944487358058),
 (1285, 0.12909944487358058),
 (1287, 0.12909944487358058),
 (1309, 0.12909944487358058),
 (1357, 0.12909944487358058),
 (1417, 0.12909944487358058),
 (1434, 0.12909944487358058),
 (1450, 0.12909944487358058),
 (1456, 0.12909944487358058),
 (1469, 0.12909944487358058),
 (1607, 0.12909944487358058),
 (1807, 0.12909944487358058),
 (1822, 0.12909944487358058),
 (1976, 0.12909944487358058),
 (2001, 0.12909944487358058),
 (2140, 0.12909944487358058),
 (2185, 0.12909944487358058),
 (2188, 0.12909944487358058),
 (2268, 0.12909944487358058),
 (2288, 0.12909944487358058),
 (2360, 0.12909944487358058),
 (2755, 0.12909944487358058),
 (2781, 0.12909944487358058),
 (2796, 0.12909944487358058),
 (2851, 0.12909944487358058),
 (2878, 0.12909944487358058),
 (2899, 0.12909944487358058),
 (2931, 0.12909944487358058),
 (2933, 0.12909944487358058),
 (2972, 0.12909944487358058),
 (3077, 0.12909944487358058),
 (3133, 0.12909944487358058),
 (3144, 0.12909944487358058),
 (3225, 0.12909944487358058),
 (3233, 0.12909944487358058),
 (3284, 0.12909944487358058),
 (3353, 0.12909944487358058),
 (3412, 0.12909944487358058),
 (3500, 0.12909944487358058),
 (3518, 0.12909944487358058),
 (3591, 0.12909944487358058),
 (3650, 0.12909944487358058),
 (3672, 0.12909944487358058),
 (3756, 0.12909944487358058),
 (3833, 0.12909944487358058),
 (3841, 0.12909944487358058),
 (3848, 0.12909944487358058),
 (3851, 0.12909944487358058),
 (3857, 0.12909944487358058),
 (3882, 0.12909944487358058),
 (3912, 0.12909944487358058),
 (3919, 0.12909944487358058),
 (3928, 0.12909944487358058),
 (3965, 0.12909944487358058),
 (3982, 0.12909944487358058),
 (4070, 0.12909944487358058),
 (4085, 0.12909944487358058),
 (4187, 0.12909944487358058),
 (4215, 0.12909944487358058),
 (4220, 0.12909944487358058),
 (4267, 0.12909944487358058),
 (4277, 0.12909944487358058),
 (4286, 0.12909944487358058),
 (4301, 0.12909944487358058),
 (4325, 0.12909944487358058),
 (4332, 0.12909944487358058),
 (4335, 0.12909944487358058),
 (4378, 0.12909944487358058),
 (4395, 0.12909944487358058),
 (4450, 0.12909944487358058),
 (4507, 0.12909944487358058),
 (4513, 0.12909944487358058),
 (4554, 0.12909944487358058),
 (4651, 0.12909944487358058),
 (4756, 0.12909944487358058),
 (4772, 0.12909944487358058),
 (4778, 0.12909944487358058),
 (44, 0.11952286093343936),
 (54, 0.11952286093343936),
 (124, 0.11952286093343936),
 (302, 0.11952286093343936),
 (325, 0.11952286093343936),
 (443, 0.11952286093343936),
 (485, 0.11952286093343936),
 (582, 0.11952286093343936),
 (584, 0.11952286093343936),
 (706, 0.11952286093343936),
 (716, 0.11952286093343936),
 (736, 0.11952286093343936),
 (764, 0.11952286093343936),
 (776, 0.11952286093343936),
 (856, 0.11952286093343936),

####  Below function is the main function i.e.., hybrid recommender function which has the power of two recommendation techniques(Content-based filtering and Collaborative filtering) combined

In [33]:


def recommend_for(userid, title):
   index = index_of_movies[title]
   tmdbId = movieid.loc[title]['id']
   
   
   
    #content based
   sim_scores = list(enumerate(cosin_sim2[int(index)]))
   sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
   sim_scores = sim_scores[1:10]
   movie_indices = [i[0] for i in sim_scores]

   mv = movies.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'id']]
   mv = mv[mv['id'].isin(movieid['id'])]
    
   
  
   #collaborative filtering - svd
   

   mv['est'] = mv['id'].apply(lambda x: svd.predict(userid, index_map.loc[x]['movieId']).est)

   mv = mv.sort_values('est', ascending=False)
   
   
   
   return mv.head(10)

In [34]:
recommend_for(343, "Avatar")

,title,vote_count,vote_average,id,est
103,The Sorcerer's Apprentice,1470,5.8,27022,3.577596
131,G-Force,510,5.1,19585,3.571658
1,Pirates of the Caribbean: At World's End,4500,6.9,285,3.524200
71,The Mummy: Tomb of the Dragon Emperor,1387,5.2,1735,3.444162
206,Clash of the Titans,2233,5.6,18823,3.221492
715,The Scorpion King,779,5.3,9334,3.136128
215,Fantastic 4: Rise of the Silver Surfer,2589,5.4,1979,3.115914
466,The Time Machine,631,5.8,2135,3.098434

In [35]:
import pickle
pickle.dump(new_movies, open('../model/movies_list.pkl', 'wb'))
pickle.dump(similarity, open('../model/similarity.pkl', 'wb'))